@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
body{
    background-color: #010001;
}
#nav{
    background-color: #010001;
    color:#ffffff ;
    font-size: 20px;
    margin: 0;
    padding: 0;
   
}
#some{
    color: #285f6b;
    font-size: 60px;
    

}
#and{
    font-size: 30px;
   
}

.container-fluid{ 
    background: #010001 ;
}
.heading{
    color: #367d8A;
    text-align: center;
    font-size: 80px;
}
.equal{
 color: #367d8A;
}
.today{
    color: #ffffff;
    font-size: 40px;
}
.img-fluid{
 height: 330px;
 width: 400px;
 
}
.two{
    background: #133336;
    border: 2px solid #181818;
    color: #ffffff;
    margin-left: 25px;
    display: inline-block;
}
.two :hover{
    color: #000000;
    background-color:#285f6b ;
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;

}